.chat_list {
  height: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #d8dcff74;
  overflow: hidden;
  margin: 0px 5px;
}

.chat_list_head {
  padding: 15px;
  background-color: #dad3ff;
  color: rgb(104, 101, 101);
  text-align: left;
  padding-left: 70px;
  text-decoration: none;
}

.chat_list_container {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
  scrollbar-face-color: transparent;
  padding: 10px 4px;
}

.chat_list_container::-webkit-scrollbar {
  width: 1px;
}

.chatListItem {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
  margin-bottom: 1px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.481);
}

.chatListItem:hover {
  background-color: rgba(182, 166, 253, 0.76);
}
.chatListItem:hover .listItemDp {
  background-color: rgba(255, 255, 255, 0.905);
}
.listItemDp {
  background-color: rgb(164, 167, 244);
  padding: 12px;
  border-radius: 50%;
  color: rgb(99, 81, 239);
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .chat_list {
    min-width: 300px;
  }
}
