.chat_list{
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction:column;
}

.chat_list_head{
    /* border: 1px solid; */
    padding: 15px;
    background-color: rgba(187, 187, 187, 0.277);
    color: white;
    text-align: left;
    padding-left: 70px;
    text-decoration: none;
}

.chat_list_container{
/* background-color: aqua; */
height: 2000vh;
width: 100%;
overflow-y: scroll;
text-decoration: none;
}