.TopBar{
 display: none;
  
}
.TopBar button{
  border: none;
  background-color: transparent;
 
  color: gray;
  padding: 6px 3px;
  border-radius: 15px;
}
.TopBar button:hover{
  background-color: rgb(199, 201, 243);
  color: white;
}


@media only screen and (max-width: 500px) {
  .TopBar{
    display: flex;
      position: absolute;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
      width: 100%;
      border-radius: 0;
      top: 0px;
      padding:  0px 50px ;
      background-color: hsl(0, 0%, 100%);
      color: rgb(86, 82, 82);
      border-radius:  0px 0px 30px 30px;
  }
  
}