
p{
    padding: 0;
    margin: 0;
}
.chatBody{
    padding: 15px 0px;
    /* background-color: black; */

}
.message{
    /* background-color: rgb(193, 136, 136); */
    padding: 1px 10px;
    
}

.messageContent{
    display: flex;
    justify-content: left;
    
}
.messageContent p{
    background-color: rgb(57, 181, 53);
    padding: 5px 10px;
    border-radius: 10px;

   
    color: white;
   

}

.messageMeta{
    /* background-color: rgb(135, 190, 190); */
    display: flex;
    font-size: 9px;
    
   
}


.chatBody {
 
    scroll-behavior: smooth;
    /* background-color: red; */
    display: flex;
    min-height: 500px;
    
  }
  

  .chatBody::-webkit-scrollbar {
    display: none;
  }

/* yours */

#yourcontent{
    justify-content: right;
}

#yourcontent p{
    /* background-color: rgba(48, 79, 125, 0.536); */
    background-color: rgb(63, 137, 248);
   
}

#yourmeta{
    justify-content: right;
    padding-right: 10px;
}

#yourmeta .chat-author{
    display: none;
}